/***************************
 * common
 ***************************/
body {
  color: #333333;
  font-family: Georgia, serif;
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.4em;
  padding: 0 10px;
}

a {
  color: #005580;
  text-decoration: none;
}

h1, h2 {
  border-bottom: 1px #ccc solid;
  padding-bottom: .2em;
  margin-bottom: .5em;
}

/***************************
 * menu
 ***************************/
#about{
  margin-top:10px;
}

#menu-me {
  float: left;
  display:block;
  padding: 0px 0px 5px 40px;
  margin: 0px 0px 0px 0;
}

#menu-name{
  float: left;
  display:block;
  padding: 10px 0px 0px 10px;
}

.menus{
  clear: both;
  list-style-type:none;
  margin:0;
  padding:0;
  /*position: absolute;*/
}

.menu-item{
  list-style: none;
  float: left;
  padding-top: 0;
  padding-left: 0;
  margin-left: 0;
  display:inline-block;
  margin-right: 1px;
}

.menu-item a{
  padding-left: 0;
  margin-left: 0;
  display:block;
  min-width:50px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #fff;
  background: #2f3036;
}

@media screen and (max-width: 44em) {
  nav[role="full-horizontal"] {
    .link {
      width: 100%;
    }
  }
}

/***************************
 * main
 ***************************/
#main{
  clear:both;
}

#pr{
  margin-left: 18px;
}

a {
  color: #005580;
  text-decoration: none;
}
 
body:hover a {
  color: #08C;
  border-bottom: thin #08c dotted;
}

body:hover a:hover {
  color: #005580;
  border-bottom: thin #005580 dotted;
}
